<navbar></navbar>

<section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Student Detail</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                
                    <form novalidate="">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name*</label>
                                <input type="text" class="form-control" ng-model="student.name" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Mobile Number*</label>
                                <input type="text" class="form-control" ng-model="student.mobile" ng-readonly= "shouldReadOnly">                           
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number*</label>
                                <input type="text" class="form-control" ng-model="student.phone" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>
                        <h3>Address</h3>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Line1*</label>
                                <input type="text" class="form-control" ng-model="student.address.line1" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>
                        
                       	<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Line2*</label>
                                <input type="text" class="form-control" ng-model="student.address.line2" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>City*</label>
                                <input type="text" class="form-control" ng-model="student.address.city" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>State*</label>
                                <input type="text" class="form-control" ng-model="student.address.state" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Pin*</label>
                                <input type="text" class="form-control" ng-model="student.address.pin" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email*</label>
                                <input type="text" class="form-control" ng-model="student.address.email" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>


                        <div class="row control-group">
                            <div class="form-group col-xs-6 floating-label-form-group controls">
                                <span style="font-size: 150%;">Marks<span>
                            </div>
                            <div class="form-group col-xs-6 floating-label-form-group controls" ng-show="!shouldReadOnly">
                                <button ng-click="addMarks()">Add a marks</button>
                            </div>
                        
                        </div>

                        


                        <div ng-repeat="mark in student.marks">

                        	<h4>Subject {{$index+1}}</h4>

					        <div class="row control-group">
	                            <div class="form-group col-xs-12 floating-label-form-group controls">
	                                <label>Subject Name*</label>
	                                <input type="text" class="form-control" ng-model="mark.subjectName" ng-readonly= "shouldReadOnly">
	                            </div>
	                        </div>

	                        <div class="row control-group">
	                            <div class="form-group col-xs-12 floating-label-form-group controls">
	                                <label>Subject Marks*</label>
	                                <input type="text" class="form-control" ng-model="mark.subjectMarks" ng-readonly= "shouldReadOnly">
	                            </div>
	                        </div>
					    </div>                        

                        <br>
                    
                        <div class="row">
                            <div class="form-group col-xs-12" ng-show="shouldReadOnly">
                                <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="edit()">Edit</button>
                            </div>
                            <div class="form-group col-xs-12" ng-show="!shouldReadOnly">
                                <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="update()">Update</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



<footer></footer>