<navbar></navbar>

<section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-6">
                        <h3>Student Detail</h3>        
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-default btn-md pull-right" ng-click="listStudent()">
                          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to List
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                
                    <form name="updateStudent" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name*</label>
                                <input type="text" class="form-control" name="name" ng-model="student.name" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.name.$dirty && updateStudent.name.$invalid">
                                    <span ng-show="updateStudent.name.$error.required">Name is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Mobile Number*</label>
                                <input type="text" class="form-control" ng-model="student.mobile" name="mobile" ng-minlength="10" ng-maxlength="10" ng-readonly= "shouldReadOnly" numbers-only required>

                                <span style="color:red" ng-show="updateStudent.mobile.$dirty && updateStudent.mobile.$invalid">
                                    <span ng-show="updateStudent.mobile.$error.required || updateStudent.mobile.$error.number">Valid mobile number is required.</span>
                                    <span class="help-block" ng-show="((updateStudent.mobile.$error.minlength || updateStudent.mobile.$error.maxlength) && updateStudent.mobile.$dirty) ">Mobile number should be 10 digits</span>
                                </span>                            
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number*</label>
                                <input type="text" class="form-control" name="phone" ng-model="student.phone" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.phone.$dirty && updateStudent.phone.$invalid">
                                    <span ng-show="updateStudent.phone.$error.required">Phone number is required.</span>
                                </span>
                            </div>
                        </div>
                        <h3>Address</h3>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Line1*</label>
                                <input type="text" class="form-control" name="line1" ng-model="student.address.line1" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.line1.$dirty && updateStudent.line1.$invalid">
                                    <span ng-show="updateStudent.line1.$error.required">Address line1 is required.</span>
                                </span>
                            </div>
                        </div>
                        
                       	<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Line2*</label>
                                <input type="text" class="form-control" ng-model="student.address.line2" ng-readonly= "shouldReadOnly">
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>City*</label>
                                <input type="text" class="form-control" name="city" ng-model="student.address.city" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.city.$dirty && updateStudent.city.$invalid">
                                    <span ng-show="updateStudent.city.$error.required">City is required.</span>
                                </span>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>State*</label>
                                <input type="text" class="form-control" name="state" ng-model="student.address.state" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.state.$dirty && updateStudent.state.$invalid">
                                    <span ng-show="updateStudent.state.$error.required">State is required.</span>
                                </span>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Pin*</label>
                                <input type="text" class="form-control" name="pin" ng-model="student.address.pin" ng-readonly= "shouldReadOnly" ng-minlength="6" ng-maxlength="6" numbers-only required>

                                <span style="color:red" ng-show="updateStudent.pin.$dirty && updateStudent.pin.$invalid">
                                    <span ng-show="updateStudent.pin.$error.required">Pin Number is required.</span>
                                    <span class="help-block" ng-show="((updateStudent.pin.$error.minlength || updateStudent.pin.$error.maxlength) && updateStudent.pin.$dirty) ">Pin number should be 6 digits</span>
                                </span>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email*</label>
                                <input type="email" class="form-control" name="email" ng-model="student.address.email" ng-readonly= "shouldReadOnly" required>

                                <span style="color:red" ng-show="updateStudent.email.$dirty && updateStudent.email.$invalid">
                                    <span ng-show="updateStudent.email.$error.required">Email is required.</span>
                                    <span ng-show="updateStudent.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>
                        </div>


                        <div class="row control-group">
                            <div class="form-group col-xs-6 floating-label-form-group controls">
                                <span style="font-size: 150%;">Marks<span>
                            </div>                        
                        </div>

                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <tr>
                                    <th>Subject Name</th>
                                    <th>Subject Code</th>
                                    <th>Total Marks</th>
                                    <th>Marks Scored</th>
                                    <th></th>
                                </tr>           
                                <tr ng-repeat="mark in student.marks">
                                    <td>{{mark.subjectName}}</th>
                                    <td>{{mark.subjectCode}}</td>
                                    <td>{{mark.totalMarks}}</td>
                                    <td><input type="text" class="form-control" name="marks{{$index}}" ng-model="mark.subjectMarks" ng-readonly= "shouldReadOnly" lower-than="{{mark.totalMarks}}" numbers-only>
                                    </td>
                                    <td>    <span ng-show="!shouldReadOnly">                                  
                                                <span ng-show="updateStudent.marks{{$index}}.$dirty && updateStudent.marks{{$index}}.$invalid" class="glyphicon glyphicon-remove" style="color:red">
                                                </span>
                                                <span ng-show="updateStudent.marks{{$index}}.$valid"class="glyphicon glyphicon-ok text-success"></span>
                                            <span>

                                    </td>
                                </tr>
                            </table>
                        </div>                       

                        <br>
                    
                        <div class="row">
                            <div class="form-group col-xs-12" ng-show="shouldReadOnly">
                                <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="edit()">Edit</button>
                            </div>
                            <div class="form-group col-xs-12" ng-show="!shouldReadOnly">
                                <button type="submit" class="btn btn-success btn-lg pull-right" ng-disabled="updateStudent.$invalid" ng-click="update()">Update</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



<footer></footer>