<navbar></navbar>

<div class="container" ng-show="!shouldShowCreateSubject">
    <div class="row">
        <div class="col-lg-6">
            <h3>Subject Master List</h3>        
        </div>
        <div class="col-lg-6">
	        <button type="button" class="btn btn-default btn-md pull-right" ng-click="toggleView()">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Subject
			</button>
		</div>
    </div>


    <div class="col-sm-12">
	    <table class="table table-striped">
	    	<tr>
	            <th>Subject Name</th>
	            <th>Subject Code</th>
                <th>Total Marks</th>
                <th></th>
	        </tr>	        
	        <tr ng-repeat="subject in subjects">
	            <td>{{subject.subjectName}}</th>
	            <td>{{subject.subjectCode}}</td>
                <td>{{subject.totalMarks}}</td>
                <td><button type="button" class="btn btn-primary" ng-click="delete(subject._id)">Delete</button></td>
	        </tr>
	    </table>
	</div>
</div>


<div class="container" ng-show="shouldShowCreateSubject">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-6">
                <h3>Subject Registration</h3>        
            </div>
            <div class="col-lg-6">
    	        <button type="button" class="btn btn-default btn-md pull-right" ng-click="toggleView()">
    			  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to List
    			</button>
    		</div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        
            <form name="createSubject" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Subject Name*</label>
                        <input type="text" class="form-control" name="name" ng-model="subject.subjectName" required>

                        <span style="color:red" ng-show="createSubject.name.$dirty && createSubject.name.$invalid">
                            <span ng-show="createSubject.name.$error.required">Subject name is required.</span>
                        </span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Subject Code*</label>
                        <input type="text" class="form-control" name="code" ng-model="subject.subjectCode" required>

                        <span style="color:red" ng-show="createSubject.code.$dirty && createSubject.code.$invalid">
                            <span ng-show="createSubject.code.$error.required">Subject code is required.</span>
                        </span>                       
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Total Marks*</label>
                        <input type="number" class="form-control" min="0" name="marks" ng-model="subject.totalMarks" required>

                        <span style="color:red" ng-show="createSubject.marks.$dirty && createSubject.marks.$invalid">
                            <span ng-show="createSubject.marks.$error.required">Subject marks is required.</span>
                            <span ng-show="createSubject.marks.$invalid && !createSubject.marks.$error.required">Invalid marks.</span>
                        </span>                           
                    </div>
                </div>
                <div class="row">
	                <div class="form-group col-xs-12">
	                    <button type="submit" class="btn btn-success btn-lg pull-right" ng-disabled="createSubject.$invalid" ng-click="saveSubject()">Save</button>
	                </div>
	            </div>
                

                
            </form>
        </div>
    </div>
</div>


<footer></footer>
